<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Wholesale_PartnerPortal::partner_root" title="Wholesale Partner" sortOrder="10">
                    <resource id="Wholesale_PartnerPortal::listing" title="View Partners List" sortOrder="10"/>
                    <resource id="Wholesale_PartnerPortal::edit" title="Edit Partners" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
